.gallery {
	background-color:#fdbbf5;
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 10px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;

}
.img{
	width: 100%;
}
.image {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
#gallery-model .model-img{
	width: 100%;
}